@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-signup-bg {
  background-image: url('https://unsplash.com/photos/a-man-sitting-at-a-table-in-a-room-nriY_vxrmiw'); 
  background-size: cover;
  background-position: center;
}

